*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html body{
  background-color: rgb(243, 215, 79);
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: Lato;
}
.contenedor-contador{
  height: 550px;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagen-logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}


.logo{
  width: 400px;
  border:  5px solid white;
  border-radius: 250px;
}
